.hidden-text {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-white-space {
  white-space: pre-wrap;
}

.navElem {
  font-size: 1.4rem;
  /* margin: 2rem; */
  margin-left: 4%;
  margin-right: 4%;
  font-weight: bolder;
  color: black;
  /* background-color: blanchedalmond; */
}
label {
  margin: 0.4em;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  margin: 0.4rem;
  /* padding: 5rem; */
  /* size: 1rem; */
}

/* .radio {
  size: 1rem;
} */
