div {
  padding: 1%;
  /* margin: 2%; */
  justify-content: center;
}

.App {
  text-align: center;
}

nav {
  /* display: flexbox; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 3vh; */
  /* width: 100%; */
  background-color: rgb(179, 198, 216);
  /* align-content: center; */
  /* color: white; */
}

.nav-link {
  /* width: 100%; */
  /* display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center; */
  /* list-style: none; */
  /* font-size: 3.4vw; */
}
/* .about {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
} */
